body{
    background-color: white;
    margin: 0%;
}


.navbarImage{
width: 60px;

}
.navbar-text{
    padding-top: 2rem;
    color: black;
}


.header{
    background-color: rgb(0, 0, 0);
}

.inheader{
    text-align: center;
    font-family: Osawld, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: #fff;
    padding-bottom: 0px;
}
.headerimg{
    text-align: center;
    padding-top: 0px;
}
.text-dark{
    font-weight: bold;
}